<div class="card card-ref-id">
    <div class="col-12 row-ref">
        <div class="row">
        <div class="col-8">
            <div class="col-12">
                <div class="label">delivery Address:</div>
                <div class="address"><span>{{pizzaDetailObj.address}}</span></div>
            </div>
            <hr>
            <div class="col-12 cust-details">Orders of
                <span><b><i>{{pizzaDetailObj.customerName}}</i></b>
                </span>

            </div>
            <div class="col-12 pizza-details">
                <div class="name-type">
                    <div class="" *ngFor="let pizzas of pizzaDetailObj.pizzasOrdered">
                        <img alt="thumbnail" src="../../../../assets/images/{{pizzas.url}}">
                        <div class="name">
                            <div>{{pizzas.pizzaName}}</div>
                            <div class="type">Regular</div>
                            <div class="prize">{{pizzas.price}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-12 ">
                <div class="total">
                    <span class="total">Total</span>
                    <span class="amount"> <b>{{pizzaDetailObj.totalAmount}}</b></span>
                </div>
            </div>
            <div class="col-12 ">
                <button class="btn btn-small button-ref-id" (click)="close()"><b>OK</b></button>
            </div>
        </div>
        <div class="col-4">
            <div class="card visit-progression-flow">
                <div class="visit-flow" *ngFor="let progression of statusDetails;let i=index;">
                  <div class="visit-status">
                    <span class="circle" [ngClass]="{
                      ' visit-active': (i===currentStatus?.id),
                      ' visit-completed': (i<currentStatus?.id),
                      ' visit-inactive': (i>currentStatus?.id)}"></span>
                    <span class="connecter" [ngClass]="{
                    'connecter-active' : (i===currentStatus?.id || i<currentStatus?.id),          
                    'connecter-inactive' : (i>currentStatus?.id)}"></span>
                  </div>
                  <div class="visit-description">
          
                    <span
                      [ngClass]="{'visit-description-active':(i===currentStatus?.id),' visit-description-inactive': (i>currentStatus?.id)}"
                      class="progression-stage">{{progression?.status}}</span>
                    
          
                  </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>