.footer{
    
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* bottom: 0%; */
        color: white;
bottom: 0;
        position:sticky; width:100%;
         background:#501d1d;
 
 }

 .l1{
     font-size:12px;
     font-weight:500;
    
 }
 .l2{
     font-size:10px;
     font-weight:500;
   
 
 }