.header-container {
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 1rem 2rem;
  }
  .profile{
    display: flex;
    align-items: flex-start;
  }
  .app-details {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .user-details {
    color: black;
    display: flex;
    text-align: center;
  }
  .user-details img{
      width:4rem
  }
  
  .main-container{
    overflow: hidden;
  }
  
  .logo {
    display: flex;
  }
  .logo img {
    height: 100%;
    width: 2rem;
    margin-left: 0.8rem;
  }
  .main-container .row {
    display: flex;
    align-items: center;
  }
  .app-title {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: #501d1d;
    
  }
  
  /* font-family: Open Sans,system-ui,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
      font-size: 14px;
      line-height: 1.75; */