.header-container {
    position: sticky;
    top: 0;
    padding: 1rem 2rem;
    overflow: hidden;
    font-variant: all-petite-caps;
}

.app-details {
    display: flex;
    justify-content: center;
}

.user-details {
    color: black;
    display: flex;
    text-align: center;
    justify-content: flex-end;
}

.user-details img {
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
}

.main-container {
    overflow: hidden;
}

.logo {
    display: flex;
}

.logo img {
    height: 100%;
    width: 2rem;
    margin-left: 0.8rem;
}

.main-container .row {
    display: flex;
    align-items: center;
}

.app-title {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: #501d1d;
}