<div class="main-container">
    <div class="header-container p-0 m-0 col-12 row">
        <div class="col-3 pl-0 logo">
            <img src='../../../assets/images/menu.png' />
        </div>
        <div class="col-6 app-details">
            <div class="app-title">
                <img src='../../../assets/images/iconpizza11.jpg' />
                <b class="font-class">SUPREME PIZZA</b>
            </div>
        </div>
        <div class="col-3 user-details">
            <div class="col-3">
                <img src='../../../assets/images/profile.png' />
            </div>
            <div class="col-10 "><div class="profile">Shilpa</div><div>9453682648</div>
            </div>
        </div>
    </div>
</div>