<div class="main-container">
    <section>
        <p>Pizza Orders:</p>
        <div>
            <table class="table table-bordered">
                <thead class="font-class">
                    <th>Customer Name</th>
                    <th>No. of Items Ordered</th>
                    <th>Total Amt.</th>
                    <th>Status</th>
                </thead>
                <tbody>
                    <tr class="font-class" *ngFor="let pizza of allPizzaArray" (click)="viewPizzaDetail(showDetailItemModal,pizza)">
                        <td>{{pizza.customerName}}</td>
                        <td>{{pizza.noOfItems}}</td>
                        <td>{{pizza.totalAmount}}</td>
                        <td>{{pizza.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<ng-template #showDetailItemModal let-modal>
    <div class="model-content modal-lg export-model-content">
        <div class="modal-header header-ref">
            <div class="cust-details">
                <span>Orders Details of : </span>
                <span class="cust-name"><b>{{pizzaDetailObj?.customerName}}</b>
                    </span>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="modal.close('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body export-modal-body-content">
            <div class="row-ref">
                <div class="row">
                    <div class="col-8">
                        <div>
                            <div class="label">Delivery Address:</div>
                            <div class="address"><span>{{pizzaDetailObj?.address}}</span></div>
                        </div>
                        <div class="col-12 pizza-details p-0">
                            <div class="name-type">
                                <div class="" *ngFor="let pizzas of pizzaDetailObj?.pizzasOrdered">
                                    <img alt="thumbnail" src="../../../../assets/images/{{pizzas.url}}">
                                    <div class="name">
                                        <div>{{pizzas.pizzaName}}</div>
                                        <div class="type">Regular</div>
                                        <div class="prize"><span>&#8377;</span>{{pizzas.price}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-12 pr-0">
                            <div class="total">
                                <span>Total Amount:</span>
                                <span class="amount"> <b><span>&#8377;</span>{{pizzaDetailObj?.totalAmount}}</b>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card visit-progression-flow">
                            <div class="visit-flow" *ngFor="let progression of statusDetails;let i=index;">
                                <div class="visit-status">
                                    <span class="circle" [ngClass]="{
                      ' visit-active': (i===currentStatus?.id),
                      ' visit-completed': (i<currentStatus?.id),
                      ' visit-inactive': (i>currentStatus?.id)}"></span>
                                    <span class="connecter" [ngClass]="{
                    'connecter-active' : (i===currentStatus?.id || i<currentStatus?.id),          
                    'connecter-inactive' : (i>currentStatus?.id)}"></span>
                                </div>
                                <div class="visit-description">
                                    <span [ngClass]="{'visit-description-active':(i===currentStatus?.id),' visit-description-inactive': (i>currentStatus?.id)}" class="progression-stage">{{progression?.status}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>